:root {
  --primary-color: #020305;
  ---secondary-color: #191819;

  --text: #dcd8d8;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body,
.container {
  background-color: var(--secondary-color);
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--text);
}

::-webkit-scrollbar {
  display: none;
  color: #111825;
}

.category-btn:hover {
  background: #111825;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 25vw;
  transition: all ease-in-out 0.5s;
}

.category-btn {
  text-transform: capitalize;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background-color: #090f1a;
  outline: none;
  border: 2px solid #273348;
  padding: 0.5em 1.25em;
  margin-right: 2em;
  border-radius: 1em;
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  direction: "row";
  justify-content: space-between;
  padding: 1em 9em;
  background-color: var(--primary-color);
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 0.3em;
  }
}

/* @media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
} */

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 35vh !important;
    width: 100vw !important;
  }

  .search-bar {
    width: 100%;
  }

  .navbar {
    display: block;
    direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
  }
}
