:root {
  --primary-color: #020305;
  --secondary-color: #b62ac1;
  --text: #dcd8d8;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body,
.container {
  background-color: var(--primary-color);
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--text);
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: var(--secondary-color) !important;
  /* color: var(--secondary-color) !important; */
}

.category-btn:hover span {
  color: var(--text) !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 350px;
  transition: all ease-in-out 0.5s;
}

.category-btn {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: #b72ac167;
  outline: none;
  border: none;
  padding: 0.75em 1em;
  margin: 10px 0px;
  border-radius: 1em;
  transition: all 0.3s ease;
}

.navbar {
  display: flex;
  direction: "row";
  justify-content: space-between;
  padding: 1em 3em;
  background-color: var(--primary-color);
}

@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

/* @media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
} */

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 100%;
  }

  .navbar {
    display: block;
    direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
